body {
    font-family: "Open Sans";
    color: #666666;
    line-height: 1.6;
    background-image: url(img/fondo3.jpg);
}


.foto{
    background-repeat: no-repeat;
    margin-top:65px;
    width: 250px;
    height: 175px;;
    position: absolute;
    float: left;
}
.descripcion{
    background: rgba(0,0,0,0.7);
    float: left;
    margin-top: 240px;
     width: 250px;
    height: 510px;;
    position: relative;
}
.datos{
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 0px #000;
    font-size: 25px;
    width: 200px;
    text-align: center;
    box-shadow: none;
    border: none;
   background: none;
}

.Textarea{
     color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 0px #000;
    font-size: 15px;
    width: 200px;
    height: 90px;
    text-align: left;
    box-shadow: none;
    border: none;
    background: none;

}

.label{
    color: white;;
    font-family: sans-serif;
    font-size: 15px;
}
.mapa{
    position:absolute;
    margin-left: 245px;
    float: right;
    margin-top:70px;
    width: 71%;
    height: 60%;
    top: 0;

}
.rutas{
   background: rgba(0,0,0,0.7);
    float: right;
    margin-top: 70px;
    width: 290px;
    height: 670px;
    position: relative;
    overflow:scroll;
}
.rutas h2{
    font-family: sans-serif;
    color: white;
    text-align: center;

}
.cards {
  width: 275px;
    background-color: white;
}

.cards > .fotoRuta {
  height: 100px;
  /*background: url('img/ruta.jpg') center / cover;*/
}

hr{
    margin-top: 0;
    margin-bottom: 0;
}

.btnEditarPerfil{
    float: right;
    font-family: sans-serif;
    border-bottom-color: white;
    background: none;
    color: white;
}
.btnGuardarPerfil{
    font-family: sans-serif;
    border-bottom-color: white;
    background: none;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}
.btnAgregar{
    font-family: sans-serif;
    border-bottom-color:white;
    background: none;
    color: white;
    width: 70px;
    margin-bottom:  10px;

}
.btnAmigoNuevo{
     font-family: sans-serif;
    border-bottom-color: white;
    background: none;
    color: white;
    float: right;
    margin-top: 30px;

}

.titulo{
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    width: 275px;
}

#map{
    margin-left: 10px;
    height: 100%;
    width: 100%;
}
.amigos{
    width: 100%;
    height: 265px;
    position: relative;
    margin-top:5px;
    margin-left: 10px;
    background: rgba(0,0,0,0.7);
}
.amigos h5{
 margin-top: 0;
 color:white;
    font-family: sans-serif;

}

.amigoSugerido{
    width: 49%;
    height: 100%;
    background: rgba(0,0,0,0.7);

}
.amigoAgregado{
    width: 49%;
    height: 100%;
    float: right;
    background: rgba(0,0,0,0.7);

}

.individuoAgregado{
    width: 100%;
    height: 60px;
    position: relative;
}
.fotoAmigo{
    width: 20%;
    height: 100%;
    position:absolute;
    top: 0;
}
.nombreAmigo{
    height: 100%;
    margin-left: 20%;
}

.eliminarAmigo button{
    background: none;
    width: 5%;
    float: right;
    margin-top: 0;
    color: white;
    background: red;
}
