.nav{
    width:100%;
    
    background #ccc;
    float: right;
}

.navbar_wrapper{
    height: 80px;
    width: 500;
    
}
.navbar_wrapper ul{
    
    text-align: right
}
.navbar_wrapper ul li{
   
    list-style: none;
    display: inline;
    font-weight: bold;
    padding:12px;
  
    
}
.navbar_wrapper a{
    font-size: 23px;
    color: lightcoral;
    text-shadow: 2px 2px 1px #945
    
}
.navbar_wrapper a:link{
    text-decoration: none;
}
.navbar_wrapper a:hover{
color: coral;
text-shadow: -2px -2px 1px #fff;
}