header {

    width: 100%;
    text-align: left;
    background-size:100% 100%;
    border-bottom: 0px solid #dddddd;
    border-right: 0px solid #dddddd;
    border-left: 0px solid #dddddd;
}

header  .container {
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    padding: 5px 0;
    height: 70px;

}

.nav{
    width:100%;
    background-color: rgba(0,0,0,0.9);
    height: 70px;


}

.aBanner{
    margin-left: 10px;
    position:absolute;
    color: coral;
    font-family: fantasy;
    font-size: 40px;
}


.h2banner a:link{
    text-decoration: none;
    text-shadow: 2px 2px 1px #945;
    margin-top: 15px;

}
.navbar_wrapper ul{

    text-align: right;

}
.navbar_wrapper ul li{

    list-style: none;
    display: inline;
    font-weight: bold;
    padding:5px;


}
.navbar_wrapper a{
    font-size: 20px;
    color: coral;
    text-shadow: 2px 2px 1px #945

}
.navbar_wrapper a:link{
    text-decoration: none;
}
.navbar_wrapper a:hover{
color: coral;
text-shadow: -2px -2px 1px #fff;
}
