#popup {
   visibility: hidden;
   opacity: 0;
  margin-top: -300px;
    position: fixed;
}

#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(192,192,192,0.95);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   /*margin:7% auto;
   padding:30px 50px;*/
   background-color:;
   color:#333;
   border-radius: 3px;
   width:100%;
}
a.popup-cerrar {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 80px;
   position: absolute;
   top:3px;
   right:3px;
   background-color: red;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.formModal{
   margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 80px;
    width: 500vh;
    height: 70vh;
    background: black;
    max-width: 430px;
    max-height: 400;
    align-content: center;
    
}
.formModal input{
    width: 400px;
    
    
}
.modalh2{
    color: white;
    font-family: fantasy;
    font font-size: 30px;
}
