body {
    
    font-family: "Open Sans";
    color: #666666;
    line-height: 1.6;
}
.body{
    background-image: url(img/fondo32.jpg);
    margin-top: 70px;
}
h1, h2, h3, h4, h5 {
    color: #f2620b;
}
a, a:hover, a:focus {
    outline: 0;
}


.parrafo{
    color: white;
    margin-left: 50px;
    width: 300px;
    font-size: 20px;
    position: absolute;
    margin-top: 100px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
        
}


.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: inline-flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
}
@keyframes cambio{
    
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
    
}

.slider li{
    width: 100%;
    list-style: none;
}

.imagen{
    width: 100%;
}

.firma{
    text-align: right;
    font-family:fantasy;
    color: black;
    text-shadow: 2px 2px 1px #B7B7B7;
    margin-right: 100px;
    font-size: 25px;
}

