body {
    
    font-family: "Open Sans";
    color: #666666;
    line-height: 1.6;
}
.body{
<<<<<<< HEAD
    background-image: url(../../images/fondo32.jpg);
=======
    background-image: url(img/fondo32.jpg);
>>>>>>> 7649e33d68b28c6b457ec101904d5e679e3dc88b
}
h1, h2, h3, h4, h5 {
    color: #f2620b;
}
a, a:hover, a:focus {
    outline: 0;
}
.h2Banner{
    font-size: 50px;
    color: #fff;
    text-align: left;
    width: 100%;
    font-family: fantasy;
    
}
.aBanner{
    color: coral;
    
}
.aBanner:link{
    text-decoration: none;
}
.aBanner:hover{
    color: cadetblue;
    text-shadow: -2px -2px 1px #fff;
    
}
.descriptionCrearRuta{
    margin-top: 90px;
    text-align: justify;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    
}
.parrafo{
    margin-left: 50px;
    width: 300px;
    font-size: 20px;
    position: absolute;
    margin-top: 100px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
        
}
.descripcion{
    
}
header {
    /*background-color: rgba(0,0,0,1);*/
    /*background-image: url("img/banner.jpg");*/
    background-size:100% 100%;
    width: 100%;
    
    background-size:100% 100%; 
    border-bottom: 0px solid #dddddd;
    border-right: 0px solid #dddddd;
    border-left: 0px solid #dddddd;
}
header  .container {
    position: fixed;
    z-index: 1000;
    top:0;
    padding: 6px 0;
    width: 100%;
}

}
header nav .container {
    padding: 0;
}
.top-container {
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: row;
   
}


.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: inline-flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
}
@keyframes cambio{
    
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
    
}

.slider li{
    width: 100%;
    
    list-style: none;
    
    
}

.banner{
    width: 100%;
}

.firma{
    text-align: right;
    font-family:fantasy;
    color: black;
    text-shadow: 2px 2px 1px #B7B7B7;
    margin-right: 100px;
    font-size: 25px;
}

#main-nav .nav > li.dropdown div {
    padding: 14px 20px 13px;
    color: #ffffff;
    font-size: 16px;
}

.content {
    padding: 20px 0;
    }

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
    border: none !important;
    border-radius: 0 !important;
}

