<div class="bodyhome">

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">MAP</h1>
        <p class="lead">Here goes the map with all the events in the area</p>
        <p class="lead">
          <a ng-click="goUser()" class="btn btn-lg btn-default">Sign in</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>&copy; 2016 BikeRoutES, Inc. by Benjamín Monge</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
