<!DOCTYPE html>

<html>



<head lang="es">

    <title>Crear ruta</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="verify-v1" content="bA0/t1OlfVVSJ9S9VzSMLG0Q5q+tVVu1GVujXTU72Cc=" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="format-detection" content="telephone=no">

    <meta name="robots" content="index,follow" />


    <link rel="icon" type="image/png" href="../favicon.ico" />

    <link rel="stylesheet" href="../css/conocenos/bootstrap.min.css" />

    <link rel="stylesheet" href="../css/conocenos/fonts.css" />

    <link rel="stylesheet" href="../css/conocenos/main.css" />

    <link rel="stylesheet" href="../css/conocenos/responsive.css" />
     
    <link rel="stylesheet" href="../css/conocenos/nav_Bar.css" />
    




  
  
</head>
<body>
   

<div class="body">
    <div class="body">

    <header>

        <div class="container">
            

            <div class="top-container">

                <div class="col-md-3 logo-wrapper">

                    <h2 class="h2Banner"><a href="../Home.html" class="aBanner">BikeRoutES</a></h2>

                    

                </div>

                <div class="col-md-9 lang-banner">

                    <div class="">

                        
                         
                           

                    </div>

                </div>
                <div class="nav">

                    <div class="navbar_wrapper"><br>
                        <ul>
                            <li><a href="home.html">Inicio</a></li>
                            <li><a href="profile.html">Mi perfil</a></li>
                            <li><a href="eventcreate.html">Crear Ruta</a></li>
                            
                        </ul>

                        
                         
                           

                    </div>

                </div>

            </div>

        </div>

    </header>
    



    <div class="content">

        <section class="descriptionCrearRuta">

           <div class="descripcion">
                <h1  >¿Quienes somos?</h1>

                    <p class="parrafo">

                        Somos un grupo de jovenes interesados en el sector de la Bicicleta, que estamos  dedicados a la organizacion y  realización de rutas ciclistas.<br> La Asociación  tiene como principal objetivo el fomento y desarrollo de:
            </p>
            </div>
			
			<div class="slider">
                    <ul>
                        
                    <li>
                        <p class="firma">Fomento y uso de la bicileta como medio de transporte</p>
                        <img class="banner" src="../images/biciTransporte.jpg">
                            
                    </li>
                        
                    <li><p class="firma">Organizacion y realizacion de rutas ciclistas</p>
                        <img class="banner" src="../images/rutasciclistas.jpg">
                        
                    </li>
                        
                    <li>
                        <p class="firma">Fomentar la cultura de la bicicleta</p>
                        <img class="banner" src="../images/cultura%20bicicleta.jpg">
                        
                    </li>
                        
                        <li><p class="firma">Preservacion y cultura del medio ambiente</p>
                            <img class="banner" src="../images/medioAmbiente.jpg">
                        </li>
                        
                    </ul>

                </div>

              

                
            

        </section>



        <section class="container clearfix">


        </section>

    </div>


    
</div>
    </div>
    <img src="../images/franja_naranja.png">
    <h5 class="firma">BikeRoutES</h5>

</body>


</html>