<!DOCTYPE html>

<html>
<head lang="es">

    <title>Mi Perfil</title>

    <meta http-equiv="Content-Type" content="text/html"/>

       <meta charset="utf-8">

    <link rel="stylesheet" href="../app/css/bootstrap.min.css" />

    <link rel="stylesheet" href="../app/css/discover/main.css" />
</head>
<body>


<div class="body" ng-init="loadAll()">


        <div class="mapa">
            <div id="map">
                <!--AQUI VA EL MAPA-->
            </div>

    </div>

       <!--ESTAS SON LAS RUTAS-->
        <div class="rutas">
            <h2>RUTAS</h2>
            <!-- ESTAS SON LAS CARDS -->
                <div class="cards">
                    <div class="fotoRuta">

                       <!--Aqui va el titulo de la RUTA-->
                        <input class="titulo" type="text">

                    <!-- Aqui iria la imagen de la ruta-->
                    </div>
                   <hr/>
            </div>
        </div>
     <!--AQUI TERMINAN LAS CARDS-->
    </div>


</body>


</html>
