<!DOCTYPE html>

<html>
<head lang="es">

    <title>Mi Perfil</title>

    <meta http-equiv="Content-Type" content="text/html"/>

       <meta charset="utf-8">

    <link rel="stylesheet" href="../app/css/bootstrap.min.css" />

    <link rel="stylesheet" href="../app/css/discover/main.css" />
</head>
<body>


<div class="body" ng-init="loadAll()">


        <div class="mapa">
          <div id="map" map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map zoom="13" center="{{center}}" on-click="addMarkerAndPath()">
              <marker ng-repeat="pos in positions" position="{{pos}}"></marker>
              <shape name="polyline" id="foo"
              path="{{path}}"
              stroke-color="#FF0000"
              stroke-opacity="1.0"
              stroke-weight="3">
            </shape>
          </ng-map>
          </div>

    </div>

       <!--ESTAS SON LAS RUTAS-->
        <div class="rutas">
            <h2>RUTAS</h2>
            <!-- ESTAS SON LAS CARDS -->
                <div class="cards" ng-repeat="route in routes" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                    <div class="fotoRuta">
                       <!--Aqui va el titulo de la RUTA-->
                        <input class="titulo" type="text">{{route.evtname}}</input>
                    <!-- Aqui iria la imagen de la ruta-->
                    </div>
                   <hr/>
            </div>
        </div>
     <!--AQUI TERMINAN LAS CARDS-->
    </div>


</body>


</html>
