<!DOCTYPE html>

<html>
<head>

    <title>Ruta</title>

    <link rel="stylesheet" href="../app/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../app/css/event/fonts.css" />
    <link rel="stylesheet" href="../app/css/event/main.css" />


    </head>
<body>


<div class="body" ng-init="loadEvent()">


                <div class="descriptionCrearRuta">
                    <!--EL INPUT PARA METER EL NOMBRE DE LA RUTA-->
                    <center><input class="titulo" type="text" ng-model="bikeevent.evtname"></center>


            <!--ES EL TEXTAREA PARA METER LA DESCRIPCION DE LA RUTA-->
            <center><textarea class="Textarea" ng-model="bikeevent.description"></textarea></center>

            <button class="participarRuta" ng-click="participate()">Participar</button>
            <button class="participarRuta" ng-click="deleteEvent()">Borrar esta ruta</button>

                </div>

            <div class="participantes">
                <h2>PARTICIPANTES</h2>
                     <div class="cards" ng-repeat="participant in participants">

                         <div class="fotoParticipante">
                           <img src={{participant.image}} style="width:250px;height:200px;">
                         <!--AQUI VA LA FOTO DEL PARTICIPANTE-->
                         </div>
                         <div class="Nombre">
                             <!--Este es el nombre del participante-->
                             <h2 class="Nombre">{{participant.username}}</h2>
                         </div>
                                <hr>  <!--AQUI TERMINA LA CARD-->
                      </div>

                    <!--AQUI TERMINA LA SECCION DE PARTICIPANTES-->
                </div>

                <div class="mapa">
                  <div id="map" map-lazy-load="https://maps.google.com/maps/api/js">
                    <ng-map zoom="11" center="13.692505, -89.218601">
                      <marker ng-repeat="pos in positions" position="{{pos}}"></marker>
                      <shape name="polyline" id="foo"
                      path="{{path}}"
                      stroke-color="#FF0000"
                      stroke-opacity="1.0"
                      stroke-weight="3">
                    </shape>
                  </ng-map>
                  </div>

            <form ng-submit="comment()" >
               <input class="InsertarComentario"  type="text" placeholder="Comenta Aqui" ng-model="comm">
            </form>
            <h2 >COMENTARIOS</h2>
            <div class="Comentarios">
                <!--AQUI EMPIEZA TODA LA SECCION DE COMENTARIOS-->
                <div class="coment" ng-repeat="comment in comments">
                    <button class="eliminarComentario" ng-click="deleteComm()">x</button>
                                  <div class="comentario">
                                      <!--Este es el comentario-->
                                      {{comment.content}}
                                  </div>
                         <div class="fotoComentario">
                         <!--AQUI VA LA FOTO DEL PARTICIPANTE-->
                          {{comment.UserUsername}}
                         </div>
                    <div class="fechaPublicacion">
                        <!--Fecha en que se publico-->
                        {{comment.datePosted}}
                    </div>
                                <hr>  <!--AQUI TERMINA LOS COMENTARIOS-->
                </div>

            </div><!--AQUI TERMINA LA SECCION DE COMENTARIOS-->

            </div>

<img src="../images/franja_naranja.png">
    <h5 class="firma">BikeRoutES</h5>

</body>


</html>
