<!DOCTYPE html>

<html>

  <head lang="es">

    <title>Crear ruta</title>

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="verify-v1" content="bA0/t1OlfVVSJ9S9VzSMLG0Q5q+tVVu1GVujXTU72Cc=" />

      <link rel="icon" type="image/png" href="images/myicon.png" />
      <link rel="stylesheet" href="../css/eventcreate/bootstrap.min.css" />
    
    <!-- <link rel="stylesheet" href="../css/eventcreate/nav_Bar.css" />

    <link rel="stylesheet" href="../css/eventcreate/fonts.css" />

    <link rel="stylesheet" href="../css/eventcreate/main.css" />

    <link rel="stylesheet" href="../css/eventcreate/responsive.css" />-->
    <link rel="stylesheet" href="../css/eventcreate/style.css" />

     

    
    
    
  </head>

  <body onLoad="initMap();">
    <div class="body">

    <header>

        <!-- AQUI VA EL NAV_BAR-->

    </header>

  <section id="contenedor">
  	       <section id="encabezado">
  	       	 
  	       </section>

             <div class="descriptionCrearRuta">

                    <h1>Crea tu Ruta</h1>

                    <p >

                        Mapea o dibuja una ruta utilizando la API de Google Maps. Ingresa una dirección o una ciudad para comenzar o sino acerca y arrastra el mapa. Dibuja tu ruta al hacer un clic en el mapa en cada punto de la ruta que deseas seguir. 
                        <br/><br/>
                    </p>

                </div>

  	       <section id="main">
  	       	<div id="map">
              <!--AQUI IRIA EL MAPA -->
            </div>
  	       	<div id="right">
              <!--CONTENEDOR PARA CAMPOS DE REGISTROS -->
              <div id="banner">
                <!-- AQUI IRIA LA IMAGEN DE LA RUTA QUE SUBA EL USUARIO -->
              </div>
              <div id="formulario">
                
                <!--AQUI VAN LAS OPCIONES PARA CREAR LA RUTA LOS CAMPOS QUE EL USUARIO DEBE LLENAR-->
                 <!--Campo para el nombre-->
                            <input class="nombre" type="text" placeholder=" Nombre de la ruta" name="rutaNombre">
                            <textarea class="Textarea" type="text" placeholder="Descripcion" name="descripcion"></textarea>
                             <input type="text" class="search" id="txt_find" placeholder="Ingresa la dirección aquí..." onKeyPress="" />
                             <input class="button-input" type="button" value="Mostrar Ubicación" onClick="findOnMap();" />

                              <div class="btnRemove" onClick="Undo();">

                                    <span class="iconDeshacer"/></span> 

                                </div>


                            <div class="btnRemove" onClick="clearMarkers();">

                                    <span class="iconRemove"/></span> 

                                </div>


                           <input type="button" value="Guardar Ruta" class="button-input-guardar" onClick="findOnMap();" />

         
               </div>

            </div>
  	       </section>

  	       

  </section>
  <img src="../images/franja_naranja.png">
    <h5 class="firma">BikeRoutES</h5>
  </div>

  </body>



</html>