<!DOCTYPE html>

<html>

  <head lang="es">

    <title>Crear ruta</title>

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link rel="stylesheet" href="../app/css/eventcreate/main.css" />
    <link rel="stylesheet" href="../app/css/eventcreate/style.css" />
    <link rel="stylesheet" href="../app/css/eventcreate/bootstrap.min.css" />



    </head>



  <body>

  <section id="contenedor">

   <div class="descriptionCrearRuta">

                    <h1>Crea tu Ruta</h1>

                    <p >

                        Mapea o dibuja una ruta utilizando la API de Google Maps. Ingresa una dirección o una ciudad para comenzar o sino acerca y arrastra el mapa.
                        <br/><br/>
                    </p>

        </div>

  	       <section id="main">
               <div id="map" map-lazy-load="https://maps.google.com/maps/api/js">
                 <ng-map zoom="14" center="13.692505, -89.218601" on-click="addMarkerAndPath()">
                   <marker ng-repeat="pos in positions" position="{{pos}}"></marker>
                   <shape name="polyline" id="foo"
                   path="{{path}}"
                   stroke-color="#FF0000"
                   stroke-opacity="1.0"
                   stroke-weight="3">
                 </shape>
               </ng-map>
               </div>
  	       	<div id="right">
              <!--CONTENEDOR PARA CAMPOS DE REGISTROS -->
              <div id="banner">
                <!-- AQUI IRIA LA IMAGEN DE LA RUTA QUE SUBA EL USUARIO -->
                <div custom-file-input ng-model="route.photo">
                  <input type="file" ng-model="route.photo" accept="image/*">
                </div>
              </div>
              <form id="formulario" ng-submit="create()">

                <!--AQUI VAN LAS OPCIONES PARA CREAR LA RUTA LOS CAMPOS QUE EL USUARIO DEBE LLENAR-->
                 <!--Campo para el nombre, descripcion y botones-->
                          <input class="txt" type="text" placeholder=" Nombre de la ruta" ng-model="route.evtname" required>
                          <textarea class="Textarea" type="text" placeholder="Descripcion" ng-model="route.desc" required></textarea>
                            <input class="txt" type="text"   placeholder="Ingresa la dirección aquí..." onKeyPress="" />
                            <input class="button-input" type="button" value="Mostrar Ubicación" onClick="findOnMap();" />

                          <div class="btnRemove" ng-click="deleteMarkers()">
                            <span class="iconDeshacer"/></span>
                            <span class="iconRemove"/></span>
                          </div>

                          <input class="button-input-guardar" type="submit" value="Guardar Ruta" />
              </form>
        </section>


  </section>
  <img src="../images/franja_naranja.png">
    <h5 class="firma">BikeRoutES</h5>


  </body>



</html>
