<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="../app/css/home/style.css">
    <link rel="stylesheet" href="../app/css/home/formulario.css">
    <link rel="stylesheet" href="../app/css/home/modal.css">

</head>
<body class="no-js">
    <div class="main">
        <header>

            <div class="wrap">

                <!--Aqui empieza EL LOGIN-->
                <form class="login" ng-submit="login()">
                    <h2>Login</h2>
                <input type="text" ng-model="user.username">
                <input type= "password" ng-model="user.password">
                    <input type="submit" value="Login">
                    <a class="crearCuenta" href="#popup">Aun no tienes una cuenta, Creala de INMEDIATO!</a>
                </form>
                <!--Aqui FInaliza EL LOGIN-->

                <!--inicia EL POPUP DEL SIGN UP-->
                <div class="modal-wrapper" id="popup">
                    <div class="popup-contenedor">

                        <form class="formModal" action="">
                            <h2 class="modalh2">signUp</h2>
                            <input class="nombre" type="text" placeholder="&#128104; Nombre" name="usuarioNombre">
                            <input class="nombre" type="text" placeholder="&#128104; Apellido" name="usuarioApellido">
                            <input type="email" placeholder="&#128231; e-mail" name="email">
                            <input type="password" placeholder="&#9919; Contraseña" name="clave">
                            <input type="submit" src="perfil/perfil.html" value="GET STARTED">
                            <a class="crearCuenta" href="#popup">¿Ya tienes una cuenta?</a>
                </form>
                        <a class="popup-cerrar" href="#">X</a>
                    </div>
                </div>
                <!--finaliza EL POPUP-->

                <!--Esta es la DESCRIPCION-->
             <div class="header-wrapper">
                    <h1 class="h1Encabezado">BikeRoutES<span></span></h1>
                    <p class="Descripcion">¿Deseas salir de tu casa a dar un paseo en bicicleta pero no encuentras con quien?<br>
                    BikeRoutES es tu solucion, crea tu propias rutas y compartela para que los demas se unan o unete a una ruta ya creada y empíeza a conocer mas personas con esta misma pasion.</p>
                    <p class="autor"><a href="#">BikeRoutES</a></p>


                 <!--AQUI ESTAN LOS DOS BOTONES DE CONOCENOS Y CREAR RUTA-->
                 <div class="buttons-wrapper">

                        <!--BOTON CREAR RUTRA-->
                        <a href="../app/views/eventcreate.html" class="button">Crea una cuenta</a>
                     <!--BOTON CONOCENOS-->
                        <a href="../app/views/conocenos.html" class="button button-stripe">Conocenos</a>
                    </div>
                </div>

                <!-- Fin.header-wrapper -->
            </div>
            <!-- FIN .wrap -->
        </header>
        <div class="spanning">
            <div class="promo clearfix">
                <div class="wrap">
                    <div class="promo-wrapper clearfix">
                        <div class="promo-column">
                            <img src="../app/upload/pin.png" height="32" width="24" alt="">
                            <h5>Lugares</h5>
                            <p>¿Quieres hacer una ruta en un lugar que no conoces? ¡No hay problema! puedes buscar el lugar con su direccion y empezar a seleccionar la ruta que desees .</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/settings.png" height="32" width="33" alt="">
                            <h5>Competencias</h5>
                            <p>Puedes facilmente crear una ruta para competencia y compartirla, para que mas personas se unan y disfrutar de un dia agradable</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/easy.png" height="32" width="34" alt="">
                            <h5>Rutas en ciudad</h5>
                            <p>Tenemos la opcion de "seguir caminos" que te recomendara la ruta mas corta hacia tu destino </p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/saturn.png" height="32" width="32" alt="">
                            <h5>Viaja por el Mundo</h5>
                            <p>Con esta innovadora aplicacion el mundo te parecera pequeño para recorrerlo.¡Que esperas! unete a nosotros ¡YA!</p>
                        </div>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.promo clearfix -->



    <footer>
        <div class="wrap">
            <p>&copy; 2016 <strong>BikeRoutES</strong>, Todos los derechos reservados</p>
        </div>
        <!-- /.wrap -->
    </footer>

</body>
</html>
