<!DOCTYPE HTML>
<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BikeRoutES</title>

    <link rel="stylesheet" href="../app/css/home/style.css">
    <link rel="stylesheet" href="../app/css/home/formulario.css">
    <link rel="stylesheet" href="../app/css/home/modal.css">

</head>
<body class="no-js">
    <div class="main">
        <div class="Encabezado">

            <div class="wrap">

              <!--Aqui empieza EL LOGIN-->
              <form class="login" ng-submit="login()">
                  <h2>Inicia sesión</h2>
                  <!--Este es el input del usuario-->
              <input type="text" placeholder="&#128104; Usuario" ng-model=user.username>

                  <!--Este es el input de la contraseña-->
              <input type="password" placeholder="&#9919; Contraseña" ng-model=user.password>

                  <!--Este es  el boton para enviar el formulario-->
                  <input type="submit" value="Aceptar">

                  <!--Esta es la referencia que hace aparecer el POPUP-->
                  <a class="crearCuenta" href="#popup" target="_self">Aun no tienes una cuenta, Creala de INMEDIATO!</a>
              </form>
              <!--Aqui FInaliza EL LOGIN-->

                <!--inicia EL POPUP DEL SIGN UP-->
                <div class="modal-wrapper" id="popup">
                  <div class="popup-contenedor">
                      <form class="formModal" ng-submit="signup()">
                          <h2 class="modalh2">Crear cuenta</h2>
                          <!--Este es el input para el nombre-->
                          <input class="nombre" type="text" placeholder="&#128104; Alias" ng-model=member.username>

                          <!--Este es el input para el nombre-->
                          <input class="nombre" type="text" placeholder="&#128104; Nombre" ng-model=member.firstname>

                          <!--Este es el input para el apellido-->
                          <input class="nombre" type="text" placeholder="&#128104; Apellido" ng-model=member.lastname>

                          <!--INPUT PARA EL EMAIL-->
                          <input type="email" placeholder="&#128231; e-mail" ng-model="member.email">

                          <!--Input para la contraseña-->
                          <input type="password" placeholder="&#9919; Contraseña" ng-model="member.password">
                          <!--El boton para enviar el formulario-->
                          <input type="submit" value="Inicia hoy">

                       </form>
                      <a class="popup-cerrar"  href="#" target="_self">X</a>
                  </div>
                </div>
                <!--finaliza EL POPUP-->

                <!--Esta es la DESCRIPCION-->
             <div class="encabezado-wrapper">
                    <h1 class="h1Encabezado">BikeRoutES<span></span></h1>
                    <p class="Descripcion">¿Deseas salir de tu casa a dar un paseo en bicicleta pero no encuentras con quien?<br>
                    BikeRoutES es tu solucion, crea tu propias rutas y compartela para que los demas se unan o unete a una ruta ya creada y empíeza a conocer mas personas con esta misma pasion.</p>
                    <p class="autor"><a href="#">BikeRoutES</a></p>


                 <!--AQUI ESTAN LOS DOS BOTONES DE CONOCENOS Y CREAR RUTA-->
                 <div class="buttons-wrapper">

                        <!--BOTON CREAR RUTRA-->
                        <a href="/#/create" class="button">Crea una Ruta</a>
                     <!--BOTON CONOCENOS-->
                        <a href="/#/conocenos" class="button button-stripe">Conocenos</a>
                    </div>
            </div>

                <!-- Fin.header-wrapper -->
            </div>
            <!-- FIN .wrap -->
        </div>
        <div class="spanning">
            <div class="promo clearfix">
                <div class="wrap">
                    <div class="promo-wrapper clearfix">
                        <div class="promo-column">
                            <img src="../app/upload/pin.png" height="32" width="24" alt="">
                            <h5>Lugares</h5>
                            <p>¿Quieres hacer una ruta en un lugar que no conoces? ¡No hay problema! Puedes buscar el lugar con su direccion y empezar a seleccionar la ruta que desees.</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/settings.png" height="32" width="33" alt="">
                            <h5>Competencias</h5>
                            <p>Puedes facilmente crear una ruta para competencia y compartirla, para que mas personas se unan y disfruten de un dia agradable.</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/easy.png" height="32" width="34" alt="">
                            <h5>Rutas en ciudad</h5>
                            <p>Tenemos la opcion de "seguir caminos" que te recomendara la ruta mas corta hacia tu destino.</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/saturn.png" height="32" width="32" alt="">
                            <h5>Viaja por el Mundo</h5>
                            <p>Con esta innovadora aplicacion el mundo te parecera pequeño para recorrerlo. ¡Que esperas! Unete a nosotros ¡YA!</p>
                        </div>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.promo clearfix -->



    <footer>
        <div class="wrap">
            <p>&copy; 2016 <strong>BikeRoutES</strong>, Todos los derechos reservados</p>
        </div>
        <!-- /.wrap -->
    </footer></div></div>

</body>
</html>
