<div class="main">
        <header>
            <div class="wrap">
              <form class=""
               name="form"
              ng-submit="login(form)"
               validate>
                    <h2>Login</h2>
                <input type="text" placeholder="&#128104; Usuario" name="usuario" ng-model="user.username">
                <input type="password" placeholder="&#9919; Contraseña" name="clave" ng-model="user.password">
                    <input type="submit" value="Ingresar">
                    <a class="crearCuenta" href="#">Aun no tienes una cuenta, Creala de INMEDIATO!</a>
                </form>
                <div class="header-wrapper">
                    <h1 class="h1Encabezado">BikeRoutES<span></span></h1>
                    <p class="Descripcion">¿Deseas salir de tu casa a dar un paseo en bicicleta pero no encuentras con quien?<br>
                    BikeRoutES es tu solucion, crea tu propias rutas y compartela para que los demas se unan o unete a una ruta ya creada y empíeza a conocer mas personas con esta misma pasion.</p>
                    <p class="autor"><a href="#">BikeRoutES</a></p>
                    <div class="buttons-wrapper">
                        <a href="/#/signup" class="button">Crea una cuenta</a>
                        <a href="../Conocenos/Conocenos.html" class="button button-stripe">Conocenos</a>
                    </div>
                </div>
                <!-- /.header-wrapper -->
            </div>
            <!-- /.wrap -->
        </header>
        <div class="spanning">
            <div class="promo clearfix">
                <div class="wrap">
                    <div class="promo-wrapper clearfix">
                        <div class="promo-column">
                            <img src="../app/upload/pin.png" height="32" width="24" alt="">
                            <h5>Lugares</h5>
                            <p>¿Quieres hacer una ruta en un lugar que no conoces? ¡No hay problema! puedes buscar el lugar con su direccion y empezar a seleccionar la ruta que desees .</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/settings.png" height="32" width="33" alt="">
                            <h5>Competencias</h5>
                            <p>Puedes facilmente crear una ruta para competencia y compartirla, para que mas personas se unan y disfrutar de un dia agradable</p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/easy.png" height="32" width="34" alt="">
                            <h5>Rutas en ciudad</h5>
                            <p>Tenemos la opcion de "seguir caminos" que te recomendara la ruta mas corta hacia tu destino </p>
                        </div>
                        <div class="promo-column">
                            <img src="../app/upload/saturn.png" height="32" width="32" alt="">
                            <h5>Viaja por el Mundo</h5>
                            <p>Con esta innovadora aplicacion el mundo te parecera pequeño para recorrerlo.¡Que esperas! unete a nosotros ¡YA!</p>
                        </div>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.promo clearfix -->
            <div class="discover clearfix">
                <div class="wrap">
                    <div class="discover-content clearfix">
                        <h2>Discover</h2>
                        <p>Human rights momentum. World problem solving turmoil, change movements environmental pursue these aspirations initiative donation. Policy dialogue, underprivileged accessibility, asylum visionary, prevention beneficiaries carbon emissions reductions empower.</p>
                        <div class="discover-button clearfix">
                            <a href="#" class="button button-download">
                                <span class="button-download-title">Download for</span>
                                <span class="button-download-subtitle">Apple iOS</span>
                            </a>
                            <a href="#" class="button button-download android">
                                <span class="button-download-title">Download for</span>
                                <span class="button-download-subtitle">Android</span>
                            </a>
                        </div>
                    </div>
                    <div class="discover-img">
                        <div class="discover-img-inside"><img src="../app/upload/discover.png" height="486" width="634" alt=""></div>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.discover clearfix -->
            <div class="video clearfix">
                <div class="wrap">
                    <div class="video-title">Explore. Walk &amp; Ride in action</div>
                    <div class="video-subtitle">Just try it for yourself</div>
                    <div class="video-block">
                      <!-- <iframe src="//player.vimeo.com/video/106575373?portrait=0" width="814" height="458" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                    </div>
                    <div class="video-share-wrapper clearfix">
                        <ul class="social-list clearfix">
                            <li class="video-share-title">Share it with your friends:</li>
                            <li><a href="#" class="social-twitter">via <strong>Twitter</strong></a></li>
                            <li><a href="#" class="social-facebook">via <strong>Facebook</strong></a></li>
                            <li><a href="#" class="social-google">via <strong>Google+</strong></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.videos clearfix -->
            <div class="comments clearfix">
                <div class="wrap">
                    <div class="tab">
                        <div class="box visible">
                            <h4>People talking about <a href="#">#WalkandRide</a></h4>
                            <p>Join our #WalkandRide adventure. Meet up in London this Saturday! Spread the word and join us for fun.</p>
                        </div>
                        <div class="box">
                            <h4>Users loving <a href="#">#WalkandRide</a></h4>
                            <p>Joining this weekend's #WalkandRide fun! @emmy_lemmy bring your dogs, we can make it a fun walk!</p>
                        </div>
                        <div class="box">
                            <h4>Folks enjoying <a href="#">#WalkandRide</a></h4>
                            <p>Nothing to fear, the new #WalkandRide has my tiny street covered, so cool and such a powerful app.</p>
                        </div>
                        <ul class="tabs">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <a href="#" class="tab-prev"></a>
                        <a href="#" class="tab-next"></a>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.comments clearfix -->
            <div class="simple clearfix">
                <div class="wrap">
                    <div class="simple-content">
                        <h3>The Simplest UI</h3>
                        <ul>
                            <li class="clearfix"><img src="../app/upload/ico1.png" height="32" width="32" alt=""><span>Fastest navigation</span></li>
                            <li class="clearfix"><img src="../app/upload/ico2.png" height="32" width="32" alt=""><span>Huge number of cities</span></li>
                            <li class="clearfix"><img src="../app/upload/ico3.png" height="32" width="32" alt=""><span>Only the best routes</span></li>
                            <li class="clearfix"><img src="../app/upload/ico4.png" height="32" width="32" alt=""><span>Beautiful locations</span></li>
                            <li class="clearfix"><img src="../app/upload/ico5.png" height="32" width="32" alt=""><span>Cloud sync</span></li>
                        </ul>
                    </div>
                    <div class="simple-img">
                        <img src="../app/upload/screen.png" height="508" width="587" alt="">
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.simple clearfix -->
            <div class="newsletter clearfix">
                <div class="wrap">
                    <div class="newsletter-title">our newsletter</div>
                    <div class="newsletter-form clearfix">
                        <form action="">
                            <input type="email" placeholder="john@doe.com" class="input-text">
                            <input type="button" class="button" value="Subscribe">
                        </form>
                    </div>
                    <p>If you want to recieve monthly updates from us just pop your email in the box. We think that spam is for jerks. And we are no jerks.</p>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.newsletter clearfix -->
        </div>
        <!-- /.spanning-columns -->
    </div>
    <!-- /.main -->
    <footer>
        <div class="wrap">
            <p>&copy; 2014 <strong>Walk &amp; Ride</strong>, All Rights Reserved</p>
        </div>
        <!-- /.wrap -->
    </footer>
