<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../app/css/nav_Bar.css">
    </head>

        <header>
         <div class="container">
            <div class="top-container">
                <div class="h2banner">
                    <a href="/#/" class="aBanner">BikeRoutES</a>
                </div>
                <div class="nav">
                    <div class="navbar_wrapper"><br>
                        <ul>
                            <li><a href="/#/profile">Mi perfil</a></li>
                            <li><a href="/#/create">Crear Ruta</a></li>
                            <li><a href="/#/conocenos">Conocenos</a></li>
                        </ul>
                    </div>
                </div>
            </div><!--Fin div class=top-container-->
        </div><!--Fin div class=container-->
      <!--Termina el NavBar-->

        </header>


</html>
