<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../css/conocenos/nav_Bar.css">
    <title>NavBar</title>
    </head>
    <body>
        <header>
         <div class="container">
            <div class="top-container">
                <div class="h2banner">
                    <a href="home.html" class="aBanner">BikeRoutES</a>
                </div>
                <div class="col-md-9 lang-banner">
                    <div class="">
                    </div>
                </div>
                <div class="nav">
                    <div class="navbar_wrapper"><br>
                        <ul>
                            <li><a href="home.html">Inicio</a></li>
                            <li><a href="profile.html">Mi perfil</a></li>
                            <li><a href="eventcreate.html">Crear Ruta</a></li>
                            <li><a href="eventcreate.html">Editar Perfil</a></li>
                            <li><a href="conocenos.html">Conocenos</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div><!--Fin div class=top-container-->
        </div><!--Fin div class=container-->
      <!--Termina el NavBar-->
        
        </header>
    </body>

</html>