<!DOCTYPE html>

<html>
<head lang="es">

    <title>Mi Perfil</title>

    <meta http-equiv="Content-Type" content="text/html"/>

       <meta charset="utf-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <link rel="stylesheet" href="../css/profile/main.css" /> 
</head>
<body>
   

<div class="body">

            
        <div class="foto">
        <!--AQUI VA LA FOTO-->
        </div>
        
        
        
        <div class="descripcion">
            <button class="btnEditarPerfil">Editar Perfil</button>
            
            <br>
            
            
            <label class="label">Usuario:</label>
            <!--ES EL INPUT PARA EL USUARIO-->
        <center><input class="datos" type="text" ></center>
           <hr>
             <label class="label">Email:</label>
            <!--ES EL INPUT PARA EL EMAIL-->
        <center><input class="datos" type="text" ></center>
            
            
             <label class="label">Nombre:</label>
            <!--ES EL INPUT PARA EL NOMBRE-->
        <center><input class="datos" type="text" ></center>
            
            
             <label class="label">Fecha de Ingreso: </label>
            <!--ES EL INPUT PARA   LA FECHA DE INGRESO-->
        <center><input class="datos" type="text" ></center>
            
            
            
            <label class="label">Ciudad:</label>
            <!--ES EL INPUT PARA LA CIUDAD-->
        <center><input class="datos" type="text" ></center>
            
            
            <!--ES EL TEXTAREA PARA LA DESCRIPCION-->
            <label class="label">Descripcion</label>
            <center><textarea class="Textarea"></textarea></center>
     </div>
        
        
        
        <div class="mapa">
            <div id="map">
                <!--AQUI VA EL MAPA-->
            </div>
        </div>
        
        
        
        
       <!--ESTAS SON LAS RUTAS--> 
        <div class="rutas">
            <h2>RUTAS</h2>
            <!-- ESTAS SON LAS CARDS -->
                <div class="cards">
                    <div class="fotoRuta">
                        
                       <!--Aqui va el titulo de la RUTA-->
                        <input class="titulo" type="text">
                    
                    <!-- Aqui iria la imagen de la ruta-->
                    </div>
                   <hr/>
            </div>
        </div>
     <!--AQUI TERMINAN LAS CARDS-->
    </div>
    
</body>


</html>