<!DOCTYPE html>

<html>
<head lang="es">

    <title>Mi Perfil</title>

    <meta http-equiv="Content-Type" content="text/html"/>

       <meta charset="utf-8">

    <link rel="stylesheet" href="../app/css/bootstrap.min.css" />

    <link rel="stylesheet" href="../app/css/profile/main.css" />
</head>
<body>


<div class="body" ng-init="loadUser()">


        <div class="foto">
        <img src={{user.image}} style="width:250px;height:200px;">
        </div>



        <div class="descripcion">
            <button class="btnEditarPerfil">Editar Perfil</button>
            <button class="btnAgregar" ng-click=addUser()>Agregar</button>
            <button class="btnGuardarPerfil">Guardar</button>

            <br>


          <label class="label">Usuario:</label>
            <!--ES EL INPUT PARA EL USUARIO-->
        <center><input class="datos" type="text" ng-model=user.username></center>
           <hr>
             <label class="label">Email:</label>
            <!--ES EL INPUT PARA EL EMAIL-->
        <center><input class="datos" type="text" ng-model=user.email></center>


             <label class="label">Nombre:</label>
            <!--ES EL INPUT PARA EL NOMBRE-->
        <center><input class="datos" type="text" ng-model=user.firstname></center>

        <label class="label">Apellido:</label>
       <!--ES EL INPUT PARA EL NOMBRE-->
       <center><input class="datos" type="text" ng-model=user.lastname></center>


        <label class="label">Fecha de Ingreso: </label>
            <!--ES EL INPUT PARA   LA FECHA DE INGRESO-->
        <center><input class="datos" type="text" ng-model=user.joinDate></center>



            <label class="label">Ciudad:</label>
            <!--ES EL INPUT PARA LA CIUDAD-->
        <center><input class="datos" type="text" ng-model=user.CityCityname></center>


            <!--ES EL TEXTAREA PARA LA DESCRIPCION-->
            <label class="label">Descripcion</label>
            <center><textarea class="Textarea" ng-model=user.bio></textarea></center>
     </div>



        <div class="mapa">
          <div id="map" map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map zoom="14" center="13.692505, -89.218601" on-click="addMarkerAndPath()">
              <marker ng-repeat="pos in positions" position="{{pos}}"></marker>
              <shape name="polyline" id="foo"
              path="{{path}}"
              stroke-color="#FF0000"
              stroke-opacity="1.0"
              stroke-weight="3">
            </shape>
          </ng-map>
          </div>

              <div class="amigos"><!--AQUI VAN TODOS LOS AMIGOS-->
                    <div class="amigoAgregado" ng-repeat="x in friends">
                        <h5>Amigos Agregados</h5>
                        <div class="individuoAgregado">
                            <div class="eliminarAmigo"><button>x</button> </div><!--BOTON PARA ELIMINAR UN AMIGO AGREGADO-->
                            <div class="nombreAmigo">{{x.firstname}} {{x.lastname}}</div><!--Aca va el nombre de un amigo agregado-->
                            <div class="fotoAmigo"></div><!--FOTO DE UN AMIGO AGREGADO-->
                        </div>
                    </div>


                    <div class="amigoSugerido" ng-repeat="y in candidates">
                        <h5>Amigos Sugeridos</h5>
                        <div class="individuoAgregado">
                            <div class="eliminarAmigo"><button>x</button></div><!--BOTON eliminar amigo sugerido-->
                            <div>
                                <button class="btnAmigoNuevo" ng-click="acceptFriend()">Agregar</button><!-- BOTON PARA ACEPTAR SOLICITUD DE AMIGO-->
                            </div>
                            <div class="nombreAmigo">{{y.firstname}} {{y.lastname}}</div><!--Nombre del AMIGO SUGERIDO-->
                             <div class="fotoAmigo"></div><!--FOTO DEL AMIGO SUGERIDO-->
                        </div>
                    </div>
                </div><!--Aqui terminan los amigos-->

        </div>



       <!--ESTAS SON LAS RUTAS-->
        <div class="rutas">
            <h2>RUTAS</h2>
            <!-- ESTAS SON LAS CARDS -->
                <div class="cards" ng-repeat="event in events">
                    <div class="fotoRuta">

                       <!--Aqui va el titulo de la RUTA-->
                        <input class="titulo" type="text">{{event.evtname}}</input>

                    <!-- Aqui iria la imagen de la ruta-->
                    </div>
                   <hr/>
            </div>
        </div><!--AQUI TERMINAN LAS CARDS-->

    </div>

</body>


</html>
