<div class="bodysignup">
      <form class="form-signup"
                      name="form"
                      ng-submit="createUser(form)"
                      validate>
        <h2 class="form-signup-heading">Create a bikeroute account</h2>

        <label class="sr-only">Alias</label>
        <input type="username"  ng-model="member.username" class="form-control" placeholder="Username" required>

        <label class="sr-only">Email</label>
        <input type="email" ng-model="member.email" class="form-control" placeholder="Email address" required autofocus>

        <label class="sr-only">Nombre</label>
        <input type="username"  ng-model="member.firstname" class="form-control" placeholder="Fisrt name" required>

        <label class="sr-only">Apellido</label>
        <input type="username"  ng-model="member.lastname" class="form-control" placeholder="Last name" required>

        <label class="sr-only">Contraseña</label>
        <input type="password"  ng-model="member.password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
</div> <!-- /container -->
